.collection {
  .collection-name {
    border: 1px solid rgba(var(--comment-rgb), 0.4);
    border-bottom: none;
    color: rgb(var(--purple-rgb));
    padding: 4px 12px;
  }

  ul {
    border: 1px solid rgba(var(--comment-rgb), 0.4);
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    border-bottom: 1px solid rgba(var(--comment-rgb), 0.4);

    &:last-child {
      border-bottom: none;
    }

    .item-name {
      margin: 4px 12px;
    }
  }
}
