.navigation-sidebar {
  border: 2px solid rgb(var(--comment-rgb));
  margin: 10px;
  padding: 10px 80px 10px 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.release {
    a {
      color: rgb(var(--cyan-rgb));
    }
  }

  li.zone {
    margin-top: 5px;

    &::before {
      content: "├ ";
      color: rgb(var(--comment-rgb));
    }

    &:last-child::before {
      content: "└ ";
    }

    a {
      color: rgb(var(--purple-rgb));
    }
  }
}
