.navigation-sidebar {
  border: 2px solid var(--comment);
  margin: 10px;
  padding: 10px 80px 10px 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.release {
    a {
      color: var(--cyan);
    }
  }

  li.zone {
    margin-top: 5px;

    &::before {
      content: "├ ";
      color: var(--comment);
    }

    &:last-child::before {
      content: "└ ";
    }

    a {
      color: var(--purple);
    }
  }
}
