.zone {
  .collections {
    display: flex;
    gap: 80px;

    .achievement_collections {
      flex: 1;
    }

    .skin_collections {
      flex: 1;
    }

    .misc_collections {
      flex: 1;
    }
  }
}
