.main-container {
  display: flex;
}

.navigation-sidebar {
  align-self: flex-start;
}

.main-content {
  border: 2px solid var(--comment);
  flex: 1;
  margin: 10px;
  padding: 10px 20px;

  h1 {
    color: var(--orange);
    font: inherit;
    margin: 0 0 20px 0;
  }
}
