:root {
  /* Dracula theme colors */
  --background: rgb(40, 42, 54);
  --foreground: rgb(248, 248, 242);
  --current-line: rgb(98, 114, 164);
  --selection: rgb(68, 71, 90);
  --comment: rgb(98, 114, 164);
  --cyan: rgb(139, 233, 253);
  --green: rgb(80, 250, 123);
  --orange: rgb(255, 184, 108);
  --pink: rgb(255, 121, 198);
  --purple: rgb(189, 147, 249);
  --red: rgb(255, 85, 85);
  --yellow: rgb(241, 250, 140);

  background-color: var(--background);
  color: var(--foreground);
  font-family: Consolas;
  font-size: 24px;
  font-synthesis: none;
}

a {
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
