:root {
  /* Dracula theme colors */
  --background: #282A36;
  --foreground: #F8F8F2;
  --current-line: #6272A4;
  --selection: #44475A;
  --comment: #6272A4;
  --cyan: #8BE9FD;
  --green: #50FA7B;
  --orange: #FFB86C;
  --pink: #FF79C6;
  --purple: #BD93F9;
  --red: #FF5555;
  --yellow: #F1FA8C;

  background-color: var(--background);
  color: var(--foreground);
  font-family: Consolas;
  font-size: 24px;
  font-synthesis: none;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
